$transition-common: all 0.3s ease-in-out;

$input-border: 1px solid rgba(203, 178, 174, 0.706);
$input-border-focus: 1px solid rgba(203, 178, 174, 1);

$font-header: 'Slabo 27px', serif;
$font-regular: 'Roboto', sans-serif;
$font-color-header: rgba(0, 0, 0, 0.5);
$font-color-regular: rgb(43, 43, 43);

$color-light-blue: rgba(133, 180, 208, 0.5);
$color-light-grey: rgb(181, 168, 185);
$color-light-red: rgba(255, 49, 0, 0.2);
$color-solid-red: rgba(255, 49, 0, 1);
$color-solid-green: rgba(190, 207, 166, 1);
$color-light-green: rgba(190, 207, 166, 0.8);
$color-very-light-green: rgba(190, 207, 166, 0.2);


/**********************************************************************************/

body {
  font-size: 16px;
  background-color: rgb(237, 241, 245);
  font-family: $font-regular;
  color: $color-light-grey;

  h1 {
    color: $font-color-header;
    font-family: $font-header;
    font-size: 2rem;
    padding-bottom: 15px;
    margin-bottom: 40px;
    border-bottom: 1px solid $color-light-blue;
  }

  a {
    text-decoration: none;
    color: rgb(133, 180, 208);
    transition: $transition-common;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
  }

  a:hover {
    border-bottom: 1px solid $color-light-blue;
  }

  button {
    padding: 10px 35px;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: $transition-common;
    background: rgba(255, 250, 250, 0.5);
  }

  form.user-form {
    margin: 10vh auto;
    width: 600px;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 10px 10px 26px -4px rgba(41,39,41,1);

    i {
      display: block;
      width: 100%;
      margin-bottom: 20px;
    }

    fieldset {
      margin: 0 0 30px 0;

      label {
        display: block;
        float: left;
        width: 30%;
        line-height: 2.5rem;
        font-size: 1rem;
        color: $font-color-regular;
      }

      input {
        font-size: 1rem;
        padding: 0 10px;
        width: 70%;
        height: 2.5rem;
        border: $input-border;
        transition: $transition-common;
        color: $color-light-grey
      }

      input[type = "radio"] {
        width: 20px;
      }

      input[type = "file"] {
        display: none;
      }

      input:focus {
        outline: none;
        border: $input-border-focus;
        border-left: 3px solid rgba(203, 178, 174, 1);
      }

      i {
        display: block;
        width: 70%;
        float: right;
        margin-top: 10px;
      }

      button {
        margin-left: 20px;
        background-color: $color-light-green;
      }

      button:hover {
        background-color: $color-solid-green;
      }
    }

    fieldset#submit-form {
      text-align: right;
      margin-top: 40px;
    }
    
    p {
      margin-bottom: 40px;

      i {
        display: inline-block;
        padding-right: 10px;
      }
    }

    div {
      background-color: $color-light-blue;
      width: 600px;
      position: relative;
      left: -40px;
      top: 40px;
      text-align: right;
      padding: 20px 40px;

      a {
        color: #fff;
        display: inline-block;
        margin-left: 10px;
      }

      a:hover {
        border-bottom: 1px solid #fff;
      }
    }
  }
}

.login-bg {
  background-image: url("../img/login-bg.jpg");
  background-size: cover;
}

.radio {
  width: 70%;
  float: right;
}

.error-message {
  color: $color-solid-red;
  background-color: $color-light-red;
  border: 1px solid $color-solid-red;
  padding: 5px;
  font-family: $font-regular;
}

.success-message {
  color: $color-solid-green;
  background-color: $color-very-light-green;
  border: 1px solid $color-solid-green;
  padding: 5px;
  font-family: $font-regular;
}