/**********************************************************************************/
body {
  font-size: 16px;
  background-color: #edf1f5;
  font-family: "Roboto", sans-serif;
  color: #b5a8b9; }
  body h1 {
    color: rgba(0, 0, 0, 0.5);
    font-family: "Slabo 27px", serif;
    font-size: 2rem;
    padding-bottom: 15px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(133, 180, 208, 0.5); }
  body h2 {
    font-size: 1.3rem;
    font-family: "Slabo 27px", serif;
    line-height: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #b2090d; }
  body a {
    text-decoration: none;
    color: #85b4d0;
    transition: all 0.3s ease-in-out;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent; }
  body a:hover {
    border-bottom: 1px solid rgba(133, 180, 208, 0.5); }
  body button {
    padding: 10px 35px;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
    background: rgba(255, 250, 250, 0.5); }
  body header {
    overflow: hidden;
    height: 70px;
    background-color: #fff; }
    body header a {
      display: block;
      float: left;
      width: 250px;
      overflow: hidden; }
      body header a img {
        height: 70px;
        float: left; }
      body header a p {
        float: left;
        line-height: 70px;
        margin-left: 10px;
        font-size: 1.5rem;
        font-family: "Slabo 27px", serif; }
    body header a.heavy {
      background-color: rgba(133, 180, 208, 0.5);
      color: #ffffff;
      transition: all 0.3s ease-in-out; }
    body header a.heavy:hover {
      background-color: rgba(133, 180, 208, 0.9); }
    body header a:hover {
      border: transparent; }
    body header #header-profile {
      float: right;
      height: 100%; }
      body header #header-profile ul li {
        float: left; }
        body header #header-profile ul li a {
          display: block;
          height: 100%;
          line-height: 70px;
          width: 150px;
          text-align: center; }
          body header #header-profile ul li a i {
            display: inline-block;
            margin-right: 10px; }
  body aside {
    width: 250px;
    background-color: rgba(133, 180, 208, 0.5);
    float: left;
    height: 100vh;
    top: 0;
    position: fixed; }
    body aside a.logoA {
      display: block;
      float: left;
      width: 250px;
      overflow: hidden;
      background-color: #fff;
      padding-bottom: 0;
      margin-bottom: 20px; }
      body aside a.logoA img {
        height: 70px;
        float: left; }
      body aside a.logoA p {
        float: left;
        line-height: 70px;
        margin-left: 10px;
        font-size: 1.5rem;
        font-family: "Slabo 27px", serif; }
    body aside .logoA:hover {
      border-bottom: 0; }
    body aside figure {
      margin-top: 20px; }
      body aside figure img {
        width: 150px;
        background: #fff;
        border-radius: 90px;
        border: 5px solid rgba(133, 180, 208, 0.9);
        display: block;
        margin: 0 auto; }
      body aside figure figcaption {
        font-size: 1.3rem;
        margin: 20px 0;
        text-align: center;
        color: rgba(133, 180, 208, 0.9); }
    body aside nav ul li a {
      display: block;
      color: rgba(0, 0, 0, 0.6);
      padding: 20px;
      font-size: 1.3rem;
      font-family: "Slabo 27px", serif;
      transition: all 0.3s ease-in-out; }
    body aside nav ul li a:hover {
      border-bottom: 1px solid transparent;
      background-color: #edf1f5; }
  body main.books {
    margin-left: 250px;
    padding: 40px; }
    body main.books form {
      overflow: hidden;
      margin-bottom: 40px; }
      body main.books form input {
        width: 95%;
        height: 40px;
        font-family: "Slabo 27px", serif;
        font-size: 1.5rem;
        float: left;
        background-color: transparent;
        border-bottom: 1px solid rgba(133, 180, 208, 0.5);
        outline: none;
        transition: all 0.3s ease-in-out; }
      body main.books form input::placeholder {
        font-size: 1.5rem;
        color: #b5a8b9; }
      body main.books form input:hover {
        border-bottom: 2px solid rgba(133, 180, 208, 0.9); }
      body main.books form input:focus {
        border-bottom: 2px solid rgba(133, 180, 208, 0.9); }
      body main.books form a {
        width: 5%;
        text-align: center;
        display: inline-block;
        height: 40px;
        float: left;
        line-height: 40px;
        font-size: 1.3rem;
        transition: all 0.3s ease-in-out; }
      body main.books form a:hover {
        border-bottom: 1px solid transparent;
        background-color: rgba(133, 180, 208, 0.9);
        color: #fff; }
    body main.books ul li {
      display: inline-block;
      background-color: #fff;
      margin-right: 59px;
      margin-bottom: 40px;
      width: 22%;
      position: relative; }
      body main.books ul li div.book-edit {
        position: absolute;
        left: 275px;
        top: 20px; }
        body main.books ul li div.book-edit a {
          display: block;
          width: 60px;
          border-radius: 50px;
          padding: 10px;
          height: 60px;
          text-align: center;
          line-height: 40px;
          font-size: 1.5rem;
          background-color: #b2090d;
          color: #fff; }
      body main.books ul li a {
        display: block;
        height: 100%;
        padding: 40px 40px 20px 40px;
        transition: all 0.3s ease-in-out; }
        body main.books ul li a img {
          width: 100%; }
        body main.books ul li a h2 {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
        body main.books ul li a div.authors {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-bottom: 10px; }
          body main.books ul li a div.authors p {
            float: left;
            margin-right: 10px;
            color: #2b2b2b; }
        body main.books ul li a p.availability {
          color: #b5a8b9;
          margin-bottom: 20px; }
        body main.books ul li a p.see-more {
          padding-top: 20px;
          border-top: 1px solid rgba(133, 180, 208, 0.5);
          text-align: center;
          font-size: 1.2rem; }
          body main.books ul li a p.see-more i {
            padding-left: 10px; }
      body main.books ul li a:hover {
        border-bottom: transparent;
        box-shadow: 0px 0px 70px -5px rgba(0, 0, 0, 0.58); }
    body main.books ul li:nth-child(4n+0) {
      margin-right: 0; }
  body main.book-edit {
    margin-left: 250px;
    padding: 40px; }
    body main.book-edit i.success-message {
      display: block;
      margin-bottom: 20px; }
    body main.book-edit form {
      background-color: #fff;
      padding: 40px;
      margin-bottom: 20px; }
      body main.book-edit form i {
        margin-left: 30%;
        display: inline-block;
        margin-top: 10px; }
      body main.book-edit form fieldset {
        margin: 0 0 30px 0;
        clear: both; }
        body main.book-edit form fieldset label {
          display: block;
          float: left;
          width: 30%;
          line-height: 2.5rem;
          font-size: 1rem;
          color: #2b2b2b; }
        body main.book-edit form fieldset label.for-image {
          width: 100%; }
          body main.book-edit form fieldset label.for-image span {
            display: inline-block;
            width: 30%; }
          body main.book-edit form fieldset label.for-image p.bookButton {
            background-color: #fff;
            border: 1px solid rgba(190, 207, 166, 0.8);
            color: rgba(190, 207, 166, 0.8);
            padding: 0px 35px;
            margin-right: 20px;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            display: inline-block; }
          body main.book-edit form fieldset label.for-image p.bookButton:hover {
            background-color: #becfa6;
            color: #fff; }
          body main.book-edit form fieldset label.for-image img {
            display: inline-block;
            width: 100px;
            position: relative;
            top: 15px; }
        body main.book-edit form fieldset input {
          font-size: 1rem;
          padding: 0 10px;
          width: 70%;
          height: 2.5rem;
          border: 1px solid rgba(203, 178, 174, 0.706);
          transition: all 0.3s ease-in-out;
          color: #b5a8b9; }
        body main.book-edit form fieldset input#multipartImage {
          display: none; }
        body main.book-edit form fieldset select {
          background: #fff;
          width: 70%;
          padding: 0 10px;
          height: 40px;
          border: 1px solid #b5a8b9;
          font-size: 1rem;
          color: #b5a8b9; }
        body main.book-edit form fieldset #authors {
          height: 100px; }
    body main.book-edit h2 {
      display: inline-block; }
    body main.book-edit a.add-book-item {
      position: relative;
      float: right;
      top: 11px;
      padding: 10px;
      border: 1px solid rgba(133, 180, 208, 0.9);
      transition: all 0.3s ease-in-out; }
    body main.book-edit a.add-book-item:hover {
      background-color: rgba(133, 180, 208, 0.9);
      color: #fff; }
    body main.book-edit #book-items {
      margin-top: 20px;
      clear: both; }
      body main.book-edit #book-items li.book-item {
        margin-bottom: 20px;
        background: #fff;
        overflow: hidden;
        padding: 20px; }
        body main.book-edit #book-items li.book-item p.book-data {
          float: left;
          width: 25%; }
        body main.book-edit #book-items li.book-item a {
          padding: 10px;
          margin-left: 250px; }
        body main.book-edit #book-items li.book-item a:hover {
          color: #fff;
          background-color: #b2090d;
          border-bottom: transparent; }
    body main.book-edit #submit-form button {
      margin-left: 30%;
      width: 70%;
      background-color: rgba(190, 207, 166, 0.8); }
    body main.book-edit #submit-form button:hover {
      background-color: #becfa6; }
  body main.author-add {
    margin-left: 250px;
    padding: 40px; }
    body main.author-add form {
      background-color: #fff;
      padding: 40px; }
      body main.author-add form div {
        margin-bottom: 20px; }
      body main.author-add form fieldset {
        margin: 0 0 30px 0;
        clear: both; }
        body main.author-add form fieldset label {
          display: block;
          float: left;
          width: 30%;
          line-height: 2.5rem;
          font-size: 1rem;
          color: #2b2b2b; }
        body main.author-add form fieldset input {
          font-size: 1rem;
          padding: 0 10px;
          width: 70%;
          height: 2.5rem;
          border: 1px solid rgba(203, 178, 174, 0.706);
          transition: all 0.3s ease-in-out;
          color: #b5a8b9; }
        body main.author-add form fieldset input[type="radio"] {
          width: 15px; }
        body main.author-add form fieldset i {
          margin: 20px 0 0 30%;
          width: 70%;
          display: block;
          clear: both; }
      body main.author-add form fieldset#submit-form button {
        margin-left: 30%;
        width: 70%;
        background-color: rgba(190, 207, 166, 0.8); }
      body main.author-add form fieldset#submit-form button:hover {
        background-color: #becfa6; }
  body main.reservations {
    margin-left: 250px;
    padding: 40px; }
    body main.reservations i {
      position: relative;
      bottom: 19px;
      display: block;
      text-align: center; }
    body main.reservations ul li.reservation-element {
      background-color: #fff;
      padding: 40px;
      overflow: hidden;
      margin-bottom: 20px; }
      body main.reservations ul li.reservation-element img {
        width: 150px;
        float: left;
        margin-right: 40px; }
      body main.reservations ul li.reservation-element div.book-info {
        float: left;
        width: 40%; }
      body main.reservations ul li.reservation-element div.reservation-status {
        float: left;
        width: 200px;
        text-align: center;
        height: 100px;
        padding-top: 25px;
        position: relative;
        bottom: 40px;
        font-size: 1.5rem;
        background-color: rgba(133, 180, 208, 0.5);
        color: #fff;
        font-weight: 600;
        border-bottom: 3px solid rgba(133, 180, 208, 0.9); }
        body main.reservations ul li.reservation-element div.reservation-status p.reservation-label {
          font-size: 0.8rem;
          font-weight: 100;
          margin-top: 10px; }
        body main.reservations ul li.reservation-element div.reservation-status a.reservation-client {
          display: block;
          margin-top: 5px;
          font-weight: 100;
          font-size: 1rem; }
      body main.reservations ul li.reservation-element div.days {
        padding: 25px 50px;
        float: right;
        text-align: center;
        height: 215px; }
        body main.reservations ul li.reservation-element div.days p.days-left {
          font-size: 5rem;
          margin: 20px 0; }
      body main.reservations ul li.reservation-element .actions {
        clear: both;
        margin-top: 64px;
        padding-top: 20px; }
        body main.reservations ul li.reservation-element .actions a.cancel {
          display: inline-block;
          padding: 10px 40px;
          border: 1px solid rgba(133, 180, 208, 0.9);
          color: rgba(133, 180, 208, 0.9);
          transition: all 0.3s ease-in-out;
          position: relative;
          top: 22px; }
        body main.reservations ul li.reservation-element .actions a.cancel:hover {
          background-color: rgba(133, 180, 208, 0.9);
          color: #fff; }
        body main.reservations ul li.reservation-element .actions a.confirm {
          display: inline-block;
          padding: 10px 40px;
          background-color: rgba(133, 180, 208, 0.5);
          border: 1px solid rgba(133, 180, 208, 0.9);
          transition: all 0.3s ease-in-out;
          color: #fff;
          position: relative;
          top: 22px; }
        body main.reservations ul li.reservation-element .actions a.confirm:hover {
          background-color: rgba(133, 180, 208, 0.9); }
        body main.reservations ul li.reservation-element .actions a.rental-action {
          display: inline-block;
          margin-right: 50px;
          position: relative;
          top: 41px; }
        body main.reservations ul li.reservation-element .actions button.confirm:hover {
          background-color: rgba(133, 180, 208, 0.9);
          color: #fff; }
        body main.reservations ul li.reservation-element .actions button.cancel:hover {
          background-color: rgba(133, 180, 208, 0.9);
          color: #fff; }
  body main.book {
    margin-left: 250px;
    padding: 40px; }
    body main.book div.reservation-img-wrap {
      float: left;
      margin-right: 40px; }
    body main.book div.book-info {
      padding: 40px;
      float: left;
      width: 76.6%;
      background-color: #fff;
      margin-top: 20px; }
      body main.book div.book-info div {
        padding-bottom: 20px; }
        body main.book div.book-info div span.label {
          width: 300px;
          display: inline-block;
          color: #2b2b2b; }
      body main.book div.book-info p {
        line-height: 1.5rem; }
      body main.book div.book-info a {
        display: block;
        margin-top: 32px;
        border: 1px solid rgba(133, 180, 208, 0.9);
        padding: 15px;
        transition: all 0.3s ease-in-out;
        text-align: center; }
      body main.book div.book-info a:hover {
        color: #fff;
        background-color: rgba(133, 180, 208, 0.9); }
  body main.profile {
    margin-left: 250px;
    padding: 40px; }
    body main.profile form {
      padding: 40px;
      background: #fff; }
      body main.profile form a.recommendations-btn {
        float: right;
        padding: 10px;
        border: 1px solid rgba(133, 180, 208, 0.5);
        transition: all 0.3s ease-in-out;
        cursor: pointer; }
      body main.profile form a.recommendations-btn:hover {
        color: #fff;
        background: rgba(133, 180, 208, 0.5); }
      body main.profile form i#successMessage {
        width: 100%;
        margin-bottom: 15px;
        display: block;
        text-align: center;
        clear: both; }
      body main.profile form i#error-message {
        width: 100%;
        margin-bottom: 15px;
        display: block;
        text-align: center;
        clear: both; }
      body main.profile form fieldset {
        margin: 0 0 30px 0;
        clear: both; }
        body main.profile form fieldset label {
          display: block;
          float: left;
          width: 30%;
          line-height: 2.5rem;
          font-size: 1rem;
          color: #2b2b2b; }
        body main.profile form fieldset label#avatarLabel {
          width: 100%;
          display: inline-block; }
          body main.profile form fieldset label#avatarLabel span {
            display: inline-block;
            width: 30%; }
          body main.profile form fieldset label#avatarLabel p {
            display: inline-block; }
          body main.profile form fieldset label#avatarLabel p.awatarButton {
            background-color: #fff;
            border: 1px solid rgba(190, 207, 166, 0.8);
            color: rgba(190, 207, 166, 0.8);
            padding: 0px 35px;
            margin-right: 20px;
            transition: all 0.3s ease-in-out;
            cursor: pointer; }
          body main.profile form fieldset label#avatarLabel p.awatarButton:hover {
            background-color: #becfa6;
            color: #fff; }
          body main.profile form fieldset label#avatarLabel img {
            width: 60px;
            position: relative;
            top: 15px; }
        body main.profile form fieldset input {
          font-size: 1rem;
          padding: 0 10px;
          width: 70%;
          height: 2.5rem;
          border: 1px solid rgba(203, 178, 174, 0.706);
          transition: all 0.3s ease-in-out;
          color: #b5a8b9; }
        body main.profile form fieldset input[type="radio"] {
          width: 20px; }
        body main.profile form fieldset input[type="file"] {
          display: none; }
        body main.profile form fieldset input:focus {
          outline: none;
          border: 1px solid #cbb2ae;
          border-left: 3px solid #cbb2ae; }
        body main.profile form fieldset i {
          display: block;
          width: 70%;
          float: right;
          margin-top: 10px; }
        body main.profile form fieldset button {
          background-color: rgba(190, 207, 166, 0.8);
          width: 70%;
          float: right; }
        body main.profile form fieldset button:hover {
          background-color: #becfa6; }
  body main.recommendations {
    margin-left: 250px;
    padding: 40px; }
    body main.recommendations div.sub-info {
      width: 80%;
      float: left;
      margin-bottom: 20px; }
      body main.recommendations div.sub-info p {
        line-height: 1.5rem; }
    body main.recommendations div#error {
      clear: both;
      margin-bottom: 20px; }
    body main.recommendations a.add-recommendation-btn {
      transition: all 0.3s ease-in-out;
      float: right;
      padding: 10px;
      border: 1px solid rgba(133, 180, 208, 0.5); }
    body main.recommendations a.add-recommendation-btn:hover {
      color: #fff;
      background: rgba(133, 180, 208, 0.5);
      cursor: pointer; }
    body main.recommendations div#votes-header {
      clear: both; }
      body main.recommendations div#votes-header ul {
        padding-top: 40px;
        padding-bottom: 10px;
        overflow: hidden; }
        body main.recommendations div#votes-header ul li {
          float: left;
          width: 20%;
          padding: 20px;
          font-family: "Slabo 27px", serif;
          background-color: rgba(133, 180, 208, 0.5);
          color: #fff;
          font-size: 1.3rem; }
    body main.recommendations ul {
      background: #fff;
      padding: 0 40px 40px 40px; }
      body main.recommendations ul li {
        display: block;
        overflow: hidden;
        transition: all 0.3s ease-in-out; }
        body main.recommendations ul li p {
          padding: 20px;
          float: left;
          width: 20%; }
        body main.recommendations ul li a {
          display: inline-block;
          height: 56px;
          line-height: 56px; }
          body main.recommendations ul li a i {
            position: relative;
            top: 40px;
            margin-left: 10px;
            transition: all 0.3s ease-in-out; }
        body main.recommendations ul li a:hover {
          border-bottom: transparent; }
      body main.recommendations ul li:hover {
        background-color: rgba(190, 207, 166, 0.2); }
      body main.recommendations ul li:hover a i {
        top: 0; }
  body main.clients {
    margin-left: 250px;
    padding: 40px; }
    body main.clients ul {
      background: #fff;
      padding: 40px; }
      body main.clients ul li {
        padding: 20px 0;
        display: block;
        border-top: 2px solid rgba(133, 180, 208, 0.5);
        margin-bottom: 20px;
        clear: both;
        overflow: hidden; }
        body main.clients ul li .client-info-wrapper {
          width: 400px;
          text-align: center;
          overflow: hidden;
          float: left; }
          body main.clients ul li .client-info-wrapper img {
            width: 75px;
            background: #fff;
            border-radius: 90px;
            border: 2px solid rgba(133, 180, 208, 0.9);
            float: left;
            margin-right: 20px; }
          body main.clients ul li .client-info-wrapper p {
            text-align: left;
            margin-bottom: 5px;
            font-size: 1.2rem; }
            body main.clients ul li .client-info-wrapper p span {
              margin-right: 5px; }
          body main.clients ul li .client-info-wrapper p.email {
            font-size: 1rem; }
          body main.clients ul li .client-info-wrapper p.fullName {
            margin-top: 12px;
            font-weight: 600;
            color: #becfa6; }
        body main.clients ul li div.dob {
          float: left;
          margin-left: 150px;
          padding-top: 5px; }
          body main.clients ul li div.dob i {
            display: block;
            font-size: 2rem;
            margin-bottom: 5px;
            text-align: center;
            color: rgba(190, 207, 166, 0.8); }
          body main.clients ul li div.dob span {
            font-size: 0.8rem; }
        body main.clients ul li div.history-btn {
          float: right;
          margin-top: 20px; }
          body main.clients ul li div.history-btn a {
            border: 1px solid rgba(133, 180, 208, 0.5);
            padding: 10px 20px;
            transition: all 0.3s ease-in-out; }
          body main.clients ul li div.history-btn a:hover {
            background: rgba(133, 180, 208, 0.9);
            color: #fff; }
        body main.clients ul li .rent-history {
          clear: both;
          padding-top: 20px;
          display: none; }
          body main.clients ul li .rent-history ul {
            padding: 0 0 0 40px;
            margin-left: 55px; }
            body main.clients ul li .rent-history ul li {
              border-left: 2px solid rgba(133, 180, 208, 0.5);
              border-top: 0;
              overflow: hidden;
              padding-left: 20px;
              padding-right: 0;
              margin-bottom: 10px; }
              body main.clients ul li .rent-history ul li div {
                float: left;
                margin-right: 40px; }
              body main.clients ul li .rent-history ul li div.reservation-id {
                width: 5%; }
              body main.clients ul li .rent-history ul li div.book-info {
                overflow: hidden;
                width: 73%; }
                body main.clients ul li .rent-history ul li div.book-info p {
                  float: left;
                  margin-right: 40px; }
                body main.clients ul li .rent-history ul li div.book-info p.reservation-id {
                  width: 5%; }
                body main.clients ul li .rent-history ul li div.book-info p.book-title {
                  width: 30%; }
                body main.clients ul li .rent-history ul li div.book-info p.book-author {
                  width: 25%; }
                body main.clients ul li .rent-history ul li div.book-info p.book-isbn {
                  width: 15%; }
                body main.clients ul li .rent-history ul li div.book-info p.book-id {
                  width: 7%; }
              body main.clients ul li .rent-history ul li div.book-status {
                width: 10%; }
          body main.clients ul li .rent-history div#rentals-header {
            margin-left: 95px;
            padding-left: 20px;
            background-color: rgba(133, 180, 208, 0.9);
            overflow: hidden; }
            body main.clients ul li .rent-history div#rentals-header p.header-element {
              float: left;
              background-color: rgba(133, 180, 208, 0.9);
              padding: 5px;
              color: #fff; }
            body main.clients ul li .rent-history div#rentals-header p:nth-child(1) {
              width: 8%; }
            body main.clients ul li .rent-history div#rentals-header p:nth-child(2) {
              width: 25%; }
            body main.clients ul li .rent-history div#rentals-header p:nth-child(3) {
              width: 21%; }
            body main.clients ul li .rent-history div#rentals-header p:nth-child(4) {
              width: 13%; }
            body main.clients ul li .rent-history div#rentals-header p:nth-child(5) {
              width: 16%; }
            body main.clients ul li .rent-history div#rentals-header p:nth-child(6) {
              width: 16%; }
  body form.user-form {
    margin: 10vh auto;
    width: 600px;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 10px 10px 26px -4px #292729; }
    body form.user-form i {
      display: block;
      width: 100%;
      margin-bottom: 20px; }
    body form.user-form fieldset {
      margin: 0 0 30px 0; }
      body form.user-form fieldset label {
        display: block;
        float: left;
        width: 30%;
        line-height: 2.5rem;
        font-size: 1rem;
        color: #2b2b2b; }
      body form.user-form fieldset input {
        font-size: 1rem;
        padding: 0 10px;
        width: 70%;
        height: 2.5rem;
        border: 1px solid rgba(203, 178, 174, 0.706);
        transition: all 0.3s ease-in-out;
        color: #b5a8b9; }
      body form.user-form fieldset input[type="radio"] {
        width: 20px; }
      body form.user-form fieldset input[type="file"] {
        display: none; }
      body form.user-form fieldset input:focus {
        outline: none;
        border: 1px solid #cbb2ae;
        border-left: 3px solid #cbb2ae; }
      body form.user-form fieldset i {
        display: block;
        width: 70%;
        float: right;
        margin-top: 10px; }
      body form.user-form fieldset button {
        margin-left: 20px;
        background-color: rgba(190, 207, 166, 0.8); }
      body form.user-form fieldset button:hover {
        background-color: #becfa6; }
    body form.user-form fieldset#submit-form {
      text-align: right;
      margin-top: 40px; }
    body form.user-form fieldset#avatar-fieldset label {
      width: 100%; }
      body form.user-form fieldset#avatar-fieldset label span {
        float: left;
        display: inline-block;
        width: 30%; }
      body form.user-form fieldset#avatar-fieldset label p {
        float: left;
        border: 1px solid rgba(133, 180, 208, 0.9);
        padding: 0 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        color: rgba(133, 180, 208, 0.9); }
      body form.user-form fieldset#avatar-fieldset label p:hover {
        background-color: rgba(133, 180, 208, 0.9);
        color: #fff; }
      body form.user-form fieldset#avatar-fieldset label img {
        width: 80px;
        margin-left: 20px; }
    body form.user-form div.error-message p {
      display: inline-block; }
    body form.user-form div.error-message i {
      display: inline-block;
      padding-right: 10px;
      width: auto;
      margin-bottom: 0; }
    body form.user-form div.success-message p {
      display: inline-block; }
    body form.user-form div.success-message i {
      display: inline-block;
      padding-right: 10px;
      width: auto;
      margin-bottom: 0; }
    body form.user-form div.modal-footer {
      background-color: rgba(133, 180, 208, 0.5);
      width: 600px;
      position: relative;
      left: -40px;
      top: 40px;
      text-align: right;
      padding: 20px 40px; }
      body form.user-form div.modal-footer a {
        color: #fff;
        display: inline-block;
        margin-left: 10px; }
      body form.user-form div.modal-footer a:hover {
        border-bottom: 1px solid #fff; }

.login-bg {
  background-image: url("../img/login-bg.jpg");
  background-size: cover; }

.radio {
  width: 70%;
  float: right; }

.error-message {
  color: #ff3100;
  background-color: rgba(255, 49, 0, 0.2);
  border: 1px solid #ff3100;
  padding: 5px;
  font-family: "Roboto", sans-serif; }

.success-message {
  color: #becfa6;
  background-color: rgba(190, 207, 166, 0.2);
  border: 1px solid #becfa6;
  padding: 5px;
  font-family: "Roboto", sans-serif; }

.active {
  background-color: #edf1f5;
  border-left: 5px solid rgba(133, 180, 208, 0.9); }

.description {
  line-height: 1.5rem;
  width: 66%;
  margin-bottom: 40px;
  float: left; }

.red {
  border: 1px solid #b2090d;
  color: #b2090d; }

.green {
  border: 1px solid #becfa6;
  color: #becfa6; }

.weather {
  position: absolute;
  bottom: 26px;
  width: 135px;
  background: rgba(133, 180, 208, 0.9);
  color: #fff;
  text-align: center;
  height: 135px;
  border-radius: 180px;
  left: 57px;
  padding-top: 35px; }
  .weather p.degrees {
    font-size: 3rem;
    float: left;
    position: relative;
    left: 37px; }
  .weather i {
    font-size: 2rem;
    position: relative;
    top: 7px; }
  .weather p.city {
    clear: both; }

/*# sourceMappingURL=style.css.map */
