$transition-common: all 0.3s ease-in-out;

$input-border: 1px solid rgba(203, 178, 174, 0.706);
$input-border-focus: 1px solid rgba(203, 178, 174, 1);

$font-header: 'Slabo 27px', serif;
$font-regular: 'Roboto', sans-serif;
$font-color-header: rgba(0, 0, 0, 0.5);
$font-color-regular: rgb(43, 43, 43);

$color-light-blue: rgba(133, 180, 208, 0.5);
$color-light-grey: rgb(181, 168, 185);
$color-light-red: rgba(255, 49, 0, 0.2);
$color-deep-blue: rgba(133, 180, 208, 0.9);
$color-deep-red: rgba(178, 9, 13, 1);
$color-solid-red: rgba(255, 49, 0, 1);
$color-solid-green: rgba(190, 207, 166, 1);
$color-light-green: rgba(190, 207, 166, 0.8);
$color-very-light-green: rgba(190, 207, 166, 0.2);


/**********************************************************************************/

body {
  font-size: 16px;
  background-color: rgb(237, 241, 245);
  font-family: $font-regular;
  color: $color-light-grey;

  h1 {
    color: $font-color-header;
    font-family: $font-header;
    font-size: 2rem;
    padding-bottom: 15px;
    margin-bottom: 40px;
    border-bottom: 1px solid $color-light-blue;
  }

  h2 {
    font-size: 1.3rem;
    font-family: $font-header;
    line-height: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
    color: $color-deep-red;
  }

  a {
    text-decoration: none;
    color: rgb(133, 180, 208);
    transition: $transition-common;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
  }

  a:hover {
    border-bottom: 1px solid $color-light-blue;
  }

  button {
    padding: 10px 35px;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: $transition-common;
    background: rgba(255, 250, 250, 0.5);
  }

  header {
    overflow: hidden;
    height: 70px;
    background-color: #fff;

    a {
      display: block;
      float: left;
      width: 250px;
      overflow: hidden;

      img {
        height: 70px;
        float: left;
      }

      p {
        float: left;
        line-height: 70px;
        margin-left: 10px;
        font-size: 1.5rem;
        font-family: $font-header;

        span {

        }
      }
    }

    a.heavy {
      background-color: $color-light-blue;
      color: #ffffff;
      transition: $transition-common;
    }

    a.heavy:hover {
      background-color: $color-deep-blue;
    }

    a:hover {
      border: transparent;
    }

    #header-profile {
      float: right;
      height: 100%;

      ul {
        li {
          float: left;

          a {
            display: block;
            height: 100%;
            line-height: 70px;
            width: 150px;
            text-align: center;

            i {
              display: inline-block;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }

  aside {
    width: 250px;
    background-color: $color-light-blue;
    float: left;
    height: 100vh;
    top: 0;
    position: fixed;

    a.logoA {
      display: block;
      float: left;
      width: 250px;
      overflow: hidden;
      background-color: #fff;
      padding-bottom: 0;
      margin-bottom: 20px;

      img {
        height: 70px;
        float: left;
      }

      p {
        float: left;
        line-height: 70px;
        margin-left: 10px;
        font-size: 1.5rem;
        font-family: $font-header;

        span {

        }
      }
    }

    .logoA:hover {
      border-bottom: 0;
    }

    figure {
      margin-top: 20px;

      img {
        width: 150px;
        background: #fff;
        border-radius: 90px;
        border: 5px solid $color-deep-blue;
        display: block;
        margin: 0 auto;
      }

      figcaption {
        font-size: 1.3rem;
        margin: 20px 0;
        text-align: center;
        color: $color-deep-blue;
      }

    }
    nav {
      ul {
         li {
           a {
             display: block;
             color: rgba(0, 0, 0, 0.6);
             padding: 20px;
             font-size: 1.3rem;
             font-family: "Slabo 27px", serif;
             transition: $transition-common;
           }

           a:hover {
             border-bottom: 1px solid transparent;
             background-color: #edf1f5;
           }
         }
       }
    }
  }

  main.books {
    margin-left: 250px;
    padding: 40px;

    form {
      overflow: hidden;
      margin-bottom: 40px;

      input {
        width: 95%;
        height: 40px;
        font-family: $font-header;
        font-size: 1.5rem;
        float: left;
        background-color: transparent;
        border-bottom: 1px solid $color-light-blue;
        outline: none;
        transition: $transition-common;
      }

      input::placeholder {
        font-size: 1.5rem;
        color: $color-light-grey;
      }

      input:hover {
        border-bottom: 2px solid $color-deep-blue;
      }

      input:focus {
        border-bottom: 2px solid $color-deep-blue;
      }

      a {
        width: 5%;
        text-align: center;
        display: inline-block;
        height: 40px;
        float: left;
        line-height: 40px;
        font-size: 1.3rem;
        transition: $transition-common;

        i {

        }
      }

      a:hover {
        border-bottom: 1px solid transparent;
        background-color: $color-deep-blue;
        color: #fff;
      }


    }

    ul {
      li {

        display: inline-block;
        background-color: #fff;
        margin-right: 59px;
        margin-bottom: 40px;
        width: 22%;
        position: relative;

        div.book-edit {
          position: absolute;
          left: 275px;
          top: 20px;

          a {
            display: block;
            width: 60px;
            border-radius: 50px;
            padding: 10px;
            height: 60px;
            text-align: center;
            line-height: 40px;
            font-size: 1.5rem;
            background-color: rgba(178, 9, 13, 1);
            color: #fff;
          }
        }

        a {
          display: block;
          height: 100%;
          padding: 40px 40px 20px 40px;
          transition: $transition-common;

          img {
            width: 100%;
          }

          h2 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          div.authors {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-bottom: 10px;

            p {
              float: left;
              margin-right: 10px;
              color: $font-color-regular;
            }
          }

          p.availability {
            color: $color-light-grey;
            margin-bottom: 20px;
          }

          p.see-more {
            padding-top: 20px;
            border-top: 1px solid $color-light-blue;
            text-align: center;
            font-size: 1.2rem;

            i {
              padding-left: 10px;
            }
          }
        }

        a:hover {
          border-bottom: transparent;
          box-shadow: 0px 0px 70px -5px rgba(0,0,0,0.58);
        }
      }

      li:nth-child(4) {
        margin-right: 0;
      }
    }
  }


  main.book-edit {
    margin-left: 250px;
    padding: 40px;

    form {
      background-color: #fff;
      padding: 40px;

      fieldset {
        margin: 0 0 30px 0;
        clear: both;

        label {
          display: block;
          float: left;
          width: 30%;
          line-height: 2.5rem;
          font-size: 1rem;
          color: #2b2b2b;
        }

        label.for-image {
          width: 100%;

          span {
            display: inline-block;
            width: 30%;
          }

          p.bookButton {
            background-color: #fff;
            border: 1px solid $color-light-green;
            color: $color-light-green;
            padding: 0px 35px;
            margin-right: 20px;
            transition: $transition-common;
            cursor: pointer;
            display: inline-block;
          }

          p.bookButton:hover {
            background-color: $color-solid-green;
            color: #fff;
          }

          img {
            display: inline-block;
            width: 100px;
            position: relative;
            top: 15px;
          }
        }

        input {
          font-size: 1rem;
          padding: 0 10px;
          width: 70%;
          height: 2.5rem;
          border: 1px solid rgba(203, 178, 174, 0.706);
          transition: all 0.3s ease-in-out;
          color: #b5a8b9;
        }

        input#multipartImage {
          display: none;
        }

        select {
          background: #fff;
          width: 70%;
          padding: 0 10px;
          height: 40px;
          border: 1px solid $color-light-grey;
          font-size: 1rem;
          color: #b5a8b9;
        }
      }

      #new-publisher {
        display: none;
        margin: 0px 0 0 30%;
        padding: 20px;
        background-color: rgba(133, 180, 208, 0.2);

        fieldset {
          margin-bottom: 0;
        }
      }
    }

    #book-items {
      margin-top: 20px;

      li.book-item {
        margin-bottom: 20px;
        background: #fff;
        overflow: hidden;
        padding: 20px;

        p.book-data {
          float: left;
          width: 25%;
        }

        a {
          padding: 10px;
          margin-left: 250px;
        }
        a:hover {
          color: #fff;
          background-color: $color-deep-red;
          border-bottom: transparent;
        }
      }
    }

    #submit-form {
      button {
        margin-left: 30%;
        width: 70%;
        background-color: $color-light-green;
      }

      button:hover {
        background-color: $color-solid-green;
      }
    }
  }

  main.author-add {
    margin-left: 250px;
    padding: 40px;

    form {
      background-color: #fff;
      padding: 40px;

      div {
        margin-bottom: 20px;
      }

      fieldset {
        margin: 0 0 30px 0;
        clear: both;


        label {
          display: block;
          float: left;
          width: 30%;
          line-height: 2.5rem;
          font-size: 1rem;
          color: #2b2b2b;
        }

        input {
          font-size: 1rem;
          padding: 0 10px;
          width: 70%;
          height: 2.5rem;
          border: 1px solid rgba(203, 178, 174, 0.706);
          transition: all 0.3s ease-in-out;
          color: #b5a8b9;
        }

        input[type = "radio"] {
          width: 15px;
        }

        i {
          margin: 20px 0 0 30%;
          width: 70%;
          display: block;
          clear: both;
        }
      }

      fieldset#submit-form {
        button {
          margin-left: 30%;
          width: 70%;
          background-color: $color-light-green;
        }

        button:hover {
          background-color: $color-solid-green;
        }
      }
    }
  }

  main.reservations {
    margin-left: 250px;
    padding: 40px;

    i {
      position: relative;
      bottom: 19px;
      display: block;
      text-align: center;
    }

    ul {
      li.reservation-element {
        background-color: #fff;
        padding: 40px;
        overflow: hidden;
        margin-bottom: 20px;

        img {
          width: 150px;
          float: left;
          margin-right: 40px;
        }

        div.book-info {
          float: left;
          width: 30%;
        }

        div.reservation-status {
          margin-left: 150px;
          float: left;
          width: 200px;
          text-align: center;
          height: 100px;
          padding-top: 25px;
          position: relative;
          bottom: 40px;
          font-size: 1.5rem;
          background-color: $color-light-blue;
          color: #fff;
          font-weight: 600;
          border-bottom: 3px solid $color-deep-blue;

          p.reservation-label {
            font-size: 0.8rem;
            font-weight: 100;
            margin-top: 10px;
          }

          a.reservation-client {display: block;
            margin-top: 5px;
            font-weight: 100;
            font-size: 1rem;
          }
        }

        div.days {
          padding: 25px 20px;
          float: right;
          text-align: center;
          border: 1px solid $color-solid-green;
          height: 215px;

          p.days-left {
            color: $color-solid-green;
            font-size: 5rem;
            margin: 20px 0;
          }
        }

        .actions {
          clear: both;
          margin-top: 64px;
          padding-top: 20px;

          a.cancel {
            display: inline-block;
            padding: 10px 40px;
            border: 1px solid $color-deep-blue;
            color: $color-deep-blue;
            transition: $transition-common;
            position: relative;
            top: 22px;
          }

          a.cancel:hover {
            background-color: $color-deep-blue;
            color: #fff;
          }

          a.confirm {
            display: inline-block;
            padding: 10px 40px;
            background-color: $color-light-blue;
            border: 1px solid $color-deep-blue;
            transition: $transition-common;
            color: #fff;
            position: relative;
            top: 22px;
          }

          a.confirm:hover {
            background-color: $color-deep-blue;
          }



          button.confirm:hover {
            background-color: $color-deep-blue;
            color: #fff;
          }

          button.cancel:hover {
            background-color: $color-deep-blue;
            color: #fff;
          }
        }
      }
    }
  }

  main.profile {
    margin-left: 250px;
    padding: 40px;

    form {
      padding: 40px;
      background: #fff;

      a.recommendations-btn {
        float: right;
        padding: 10px;
        border: 1px solid $color-light-blue;
        transition: $transition-common;
      }

      a.recommendations-btn:hover {
        color: #fff;
        background: $color-light-blue;
      }

      i#successMessage {
        width: 100%;
        margin-bottom: 15px;
        display: block;
        text-align: center;
        clear: both;
      }

      i#error-message {
        width: 100%;
        margin-bottom: 15px;
        display: block;
        text-align: center;
        clear: both;
      }

      fieldset {
        margin: 0 0 30px 0;
        clear: both;

        label {
          display: block;
          float: left;
          width: 30%;
          line-height: 2.5rem;
          font-size: 1rem;
          color: $font-color-regular;


        }

        label#avatarLabel {
          width: 100%;
          display: inline-block;

          span {
            display: inline-block;
            width: 30%;
          }

          p {
            display: inline-block;
          }

          p.awatarButton {
            background-color: #fff;
            border: 1px solid $color-light-green;
            color: $color-light-green;
            padding: 0px 35px;
            margin-right: 20px;
            transition: $transition-common;
            cursor: pointer;
          }

          p.awatarButton:hover {
            background-color: $color-solid-green;
            color: #fff;
          }

          p.path {
            color: $color-deep-blue;
          }

        }

        input {
          font-size: 1rem;
          padding: 0 10px;
          width: 70%;
          height: 2.5rem;
          border: $input-border;
          transition: $transition-common;
          color: $color-light-grey
        }

        input[type = "radio"] {
          width: 20px;
        }

        input[type = "file"] {
          display: none;
        }

        input:focus {
          outline: none;
          border: $input-border-focus;
          border-left: 3px solid rgba(203, 178, 174, 1);
        }

        i {
          display: block;
          width: 70%;
          float: right;
          margin-top: 10px;
        }

        button {
          background-color: $color-light-green;
          width: 70%;
          float: right;
        }

        button:hover {
          background-color: $color-solid-green;
        }

      }

    }
  }

  main.recommendations {
    margin-left: 250px;
    padding: 40px;

    ul {
      background: #fff;
      padding: 40px;

      li {
        padding: 20px;
        display: block;
        border: 1px solid red;
      }
    }
  }

  main.clients {
    margin-left: 250px;
    padding: 40px;

    ul {
      background: #fff;
      padding: 40px;

      li {
        padding: 20px 0;
        display: block;
        border-top: 2px solid $color-light-blue;
        margin-bottom: 20px;
        clear: both;
        overflow: hidden;

        .client-info-wrapper {
          width: 400px;
          text-align: center;
          overflow: hidden;
          float: left;

          img {
            width: 75px;
            background: #fff;
            border-radius: 90px;
            border: 2px solid rgba(133, 180, 208, 0.9);
            float: left;
            margin-right: 20px;
          }

          p {
            text-align: left;
            margin-bottom: 5px;
            font-size: 1.2rem;
            span {
              margin-right: 5px;
            }
          }

          p.email {
            font-size: 1rem;
          }

          p.fullName {
            margin-top: 12px;
            font-weight: 600;
            color: $color-solid-green;
          }
        }

        div.dob {
          float: left;
          margin-left: 150px;
          padding-top: 5px;

          i {
            display: block;
            font-size: 2rem;
            margin-bottom: 5px;
            text-align: center;
            color: $color-light-green;
          }

          span {
            font-size: 0.8rem;

          }
        }

        div.history-btn {
          float: right;
          margin-top: 20px;

          a {
            border: 1px solid $color-light-blue;
            padding: 10px 20px;
            transition: $transition-common;
          }

          a:hover {
            background: $color-deep-blue;
            color: #fff;
          }

        }


        .rent-history {
          clear: both;
          padding-top: 20px;

          ul {
            padding: 0 0 0 40px;
            margin-left: 55px;

            li {
              border-left: 2px solid $color-light-blue;
              border-top: 0;
              overflow: hidden;
              padding-left: 20px;
              padding-right: 0;
              margin-bottom: 10px;

              div {
                float: left;
                margin-right: 40px;
              }

              div.reservation-id {
                width: 5%;
              }

              div.book-info {
                overflow: hidden;
                width: 73%;

                p {
                  float: left;
                  margin-right: 40px;
                }

                p.reservation-id {
                  width: 5%;
                }

                p.book-title {
                  width: 30%;
                }

                p.book-author {
                  width: 25%;
                }

                p.book-isbn {
                  width: 15%;
                }

                p.book-id {
                  width: 7%;
                }
              }

              div.book-status {
                width: 10%;
              }
            }
          }

          div#rentals-header {
            margin-left: 95px;
            padding-left: 20px;
            background-color: $color-deep-blue;
            overflow: hidden;

            p.header-element {
              float: left;
              background-color: $color-deep-blue;
              padding: 5px;
              color: #fff;
            }

            p:nth-child(1) {
              width: 8%;
            }

            p:nth-child(2) {
              width: 25%;
            }

            p:nth-child(3) {
              width: 21%;
            }

            p:nth-child(4) {
              width: 13%;
            }

            p:nth-child(5) {
              width: 16%;
            }

            p:nth-child(6) {
              width: 16%;
            }
          }
        }
      }
    }
  }


  form.user-form {
    margin: 10vh auto;
    width: 600px;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 10px 10px 26px -4px rgba(41,39,41,1);

    i {
      display: block;
      width: 100%;
      margin-bottom: 20px;
    }

    fieldset {
      margin: 0 0 30px 0;

      label {
        display: block;
        float: left;
        width: 30%;
        line-height: 2.5rem;
        font-size: 1rem;
        color: $font-color-regular;
      }

      input {
        font-size: 1rem;
        padding: 0 10px;
        width: 70%;
        height: 2.5rem;
        border: $input-border;
        transition: $transition-common;
        color: $color-light-grey
      }

      input[type = "radio"] {
        width: 20px;
      }

      input[type = "file"] {
        display: none;
      }

      input:focus {
        outline: none;
        border: $input-border-focus;
        border-left: 3px solid rgba(203, 178, 174, 1);
      }

      i {
        display: block;
        width: 70%;
        float: right;
        margin-top: 10px;
      }

      button {
        margin-left: 20px;
        background-color: $color-light-green;
      }

      button:hover {
        background-color: $color-solid-green;
      }
    }

    fieldset#submit-form {
      text-align: right;
      margin-top: 40px;
    }

    div.error-message {
      p {
        display: inline-block;
      }

      i {
        display: inline-block;
        padding-right: 10px;
        width: auto;
        margin-bottom: 0;
      }
    }

    div.success-message {
      p {
        display: inline-block;
      }

      i {
        display: inline-block;
        padding-right: 10px;
        width: auto;
        margin-bottom: 0;
      }
    }

    div.modal-footer {
      background-color: $color-light-blue;
      width: 600px;
      position: relative;
      left: -40px;
      top: 40px;
      text-align: right;
      padding: 20px 40px;

      a {
        color: #fff;
        display: inline-block;
        margin-left: 10px;
      }

      a:hover {
        border-bottom: 1px solid #fff;
      }
    }
  }
}


.login-bg {
  background-image: url("../img/login-bg.jpg");
  background-size: cover;
}

.radio {
  width: 70%;
  float: right;
}

.error-message {
  color: $color-solid-red;
  background-color: $color-light-red;
  border: 1px solid $color-solid-red;
  padding: 5px;
  font-family: $font-regular;
}

.success-message {
  color: $color-solid-green;
  background-color: $color-very-light-green;
  border: 1px solid $color-solid-green;
  padding: 5px;
  font-family: $font-regular;
}

.active {
  background-color: #edf1f5;
  border-left: 5px solid $color-deep-blue;
}

.description {
  line-height: 1.5rem;
  width: 66%;
  margin-bottom: 40px;
  float: left;
}