<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="basic-template :: head"></head>
    <body>

    <header th:replace="basic-template :: header"></header>
    <aside th:replace="basic-template :: aside"></aside>
    <main class="book-edit">
        <h1>Dodaj książkę</h1>

        <form th:method="post" th:object="${bookDto}" enctype="multipart/form-data">
            <i th:if="${success != null}" th:text="${success}" class="success-message"></i>
            <fieldset>
                <label th:for="title">Tytuł</label>
                <input th:field="*{book.title}" type="text" autofocus>
                <i th:if="${title != null}" th:text="${title}" class="error-message"></i>
            </fieldset>

            <fieldset>
                <label>Autorzy</label>
                <select id="authors" th:field="*{book.authors}" th:multiple="multiple">
                    <option th:each="author : ${bookDto.authors}" th:value="${author.id}" th:text="${author.name + ' ' + author.surname}"></option>
                </select>
                <i th:if="${authors != null}" th:text="${authors}" class="error-message"></i>
            </fieldset>

            <fieldset>
                <label th:for="edition">Edycja</label>
                <input th:field="*{book.edition}" type="text">
                <i th:if="${edition != null}" th:text="${edition}" class="error-message"></i>
            </fieldset>

            <fieldset>
                <label th:for="isbn">ISBN</label>
                <input th:field="*{book.isbn}" type="text">
                <i th:if="${isbnn != null}" th:text="${isbnn}" class="error-message"></i>
            </fieldset>

            <fieldset>
                <label th:for="pages">Stron</label>
                <input th:field="*{book.pages}" type="text">
                <i th:if="${pages != null}" th:text="${pages}" class="error-message"></i>
            </fieldset>

            <fieldset>
                <label>Wydawnictwo</label>
                <p th:if="*{book.publisher != null}" th:text="*{'Obecny wydawca: ' + book.publisher.name}"></p>
                <select id="publishers" th:field="*{publisher}" th:value="*{publisher}">
                    <option th:value="0">Wybierz wydawnictwo</option>
                    <option th:each="publisher : ${bookDto.publishers}" th:value="${publisher.publisherId}" th:text="${publisher.name}"></option>
                </select>
                <i th:if="${publisher != null}" th:text="${publisher}" class="error-message"></i>
            </fieldset>

            <fieldset>
                <label>Typ okładki</label>
                <select name="" id="covers" th:field="*{book.coverType}">
                    <option th:value="-1">Wybierz typ okładki</option>
                    <option th:each="cover : ${bookDto.coverTypes}" th:value="${cover}" th:text="${cover}" selected></option>
                </select>
                <i th:if="${cover != null}" th:text="${cover}" class="error-message"></i>
            </fieldset>

            <fieldset>
                <label th:for="multipartImage" class="for-image">
                    <span>Okładka</span>
                    <p class="bookButton">Wybierz okładkę</p>
                    <img th:src="@{*{book.coverImage}}" alt="" id="book-cover">
                </label>

                <input th:field="*{book.multipartImage}" th:type="file" th:id="multipartImage" th:name="multipartImage">
                <i th:if="${image != null}" th:text="${image}" class="error-message"></i>
            </fieldset>

            <input type="hidden" th:field="*{book.coverImage}">

            <fieldset th:id="submit-form">
                <button th:type="submit" th:formaction="@{/admin/add/book}">Dodaj książkę</button>
            </fieldset>
        </form>

        </main>
        <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
        <script th:src="@{/js/add-publisher.js}"></script>
    </body>
</html>