<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="basic-template :: head"></head>
    <body>

    <header th:replace="basic-template :: header"></header>
    <aside th:replace="basic-template :: aside"></aside>
    <main class="book-edit">
        <h1>Edycja książki</h1>

        <form th:method="post" th:object="${bookDto}" enctype="multipart/form-data">
            <i th:if="${success != null}" th:text="${success}" class="success-message"></i>
            <fieldset>
                <label th:for="title">Tytuł</label>
                <input th:field="*{book.title}" type="text">
                <i th:if="${title != null}" th:text="${title}" class="error-message"></i>
            </fieldset>

            <fieldset>
                <label th:for="edition">Edycja</label>
                <input th:field="*{book.edition}" type="text">
                <i th:if="${edition != null}" th:text="${edition}" class="error-message"></i>
            </fieldset>

            <fieldset>
                <label th:for="isbn">ISBN</label>
                <input th:field="*{book.isbn}" type="text">
                <i th:if="${isbnn != null}" th:text="${isbnn}" class="error-message"></i>
            </fieldset>

            <fieldset>
                <label th:for="pages">Stron</label>
                <input th:field="*{book.pages}" type="text">
                <i th:if="${pages != null}" th:text="${pages}" class="error-message"></i>
            </fieldset>

            <fieldset>
                <label>Wydawnictwo</label>
                <p th:if="*{book.publisher != null}" th:text="*{'Obecny wydawca: ' + book.publisher.name}"></p>
                <select id="publishers" th:field="*{publisher}" th:value="*{publisher}">
                    <option th:each="publisher : ${bookDto.publishers}" th:value="${publisher.publisherId}" th:text="${publisher.name}" selected></option>
                </select>
            </fieldset>

            <fieldset>
                <label>Typ okładki</label>
                <select name="" id="covers" th:field="*{book.coverType}">
                    <option th:each="cover : ${bookDto.coverTypes}" th:value="${cover}" th:text="${cover}" selected></option>
                </select>
            </fieldset>

            <fieldset>
                <label th:for="multipartImage" class="for-image">
                    <span>Okładka</span>
                    <p class="bookButton">Zmien okładkę</p>
                    <img th:src="@{*{book.coverImage}}" alt="Book cover image" id="book-cover">
                </label>

                <input th:field="*{book.multipartImage}" th:type="file" th:id="multipartImage" th:name="multipartImage">
            </fieldset>

            <input type="hidden" th:field="*{book.coverImage}">

            <fieldset th:id="submit-form">
                <button th:type="submit" th:formaction="@{|/book/update/${isbn}|}">Aktualizuj dane</button>
            </fieldset>
        </form>

        <h2>Egzemplarze</h2>
        <div th:if="${error != null}" th:text="${error}" class="error-message"></div>
        <div th:if="${success != null}" th:text="${success}" class="success-message"></div>

        <ul th:id="book-items">
            <li th:each="book : ${bookDto.books}" class="book-item">
                <p th:text="${book.bookId}" class="book-data"></p>
                <p th:text="${book.title}" class="book-data"></p>
                <p th:text="${book.status}" class="book-data"></p>
                <a th:href="@{|/admin/delete/${book.isbn}/${book.bookId}|}">Usuń książkę</a>
            </li>
        </ul>
        </main>
        <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
        <script th:src="@{/js/add-publisher.js}"></script>
    </body>
</html>