<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head th:replace="basic-template :: head"></head>
    <body>
        <header th:replace="basic-template :: header"></header>
        <aside th:replace="basic-template :: aside"></aside>

        <ul>
            <li th:each="book : ${books}">
                <p th:text="${book.bookId}"></p>
                <p th:text="${book.title}"></p>
                <p th:text="${book.status}"></p>
                <a th:href="@{|/book/delete/${book.bookId}|}"></a>
            </li>
        </ul>
    </body>
</html>