<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <meta charset="UTF-8">
        <title>Fragment header</title>

        <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome/css/font-awesome.css}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Slabo+27px&amp;subset=latin-ext" >
    </head>

    <body>
        <header th:fragment="header">
            <a th:href="@{/home}" id="logo">
                <img th:src="@{/img/logo.jpg}" alt="Logotyp">
                <p class="logo-type">Net<span>Lib</span></p>
            </a>

            <div id="header-profile">
                <ul>
                    <li sec:authorize="!isAnonymous()">
                        <a th:href="@{/user/profile}" th:text="${session.client.name + ' ' + session.client.surname}">
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                            User
                        </a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/user/register}">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                            Rejestracja
                        </a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/user/login}" class="heavy">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                            Logowanie
                        </a>
                    </li>
                    <li sec:authorize="!isAnonymous()">
                        <a th:href="@{/logout}">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            Wyloguj
                        </a>
                    </li>
                </ul>
            </div>
        </header>

        <aside th:fragment="aside">
            <a th:href="@{/home}" id="logo" class="logoA">
                <img th:src="@{/img/logo.jpg}" alt="Logotyp">
                <p class="logo-type">Net<span>Lib</span></p>
            </a>

            <figure sec:authorize="!isAnonymous()">
                <img th:src="@{${session.client.avatarUrl}}">
                <figcaption th:text="${session.client.name + ' ' + session.client.surname}"></figcaption>
            </figure>

            <nav>
                <ul>
                    <li sec:authorize="hasAuthority('CLIENT')">
                        <a th:href="@{/user/profile}" th:classappend="${#request.getRequestURI() == '/user/profile' ? 'active' : ''}">
                            Moje dane
                        </a>
                    </li>
                    <li sec:authorize="hasAuthority('CLIENT')">
                        <a th:href="@{/user/profile/rentals}" th:classappend="${#request.getRequestURI() == '/user/profile/rentals' ? 'active' : ''}">
                            Wypożyczenia
                        </a>
                    </li>
                    <li sec:authorize="hasAuthority('CLIENT')">
                        <a th:href="@{/user/profile/recommendation}" th:classappend="${#request.getRequestURI() == '/user/profile/recommendation' ? 'active' : ''}">
                            Zarekomenduj
                        </a>
                    </li>
                    <li sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/admin/reservations}" th:classappend="${#request.getRequestURI() == '/admin/reservations' ? 'active' : ''}">
                            Rezerwacje
                        </a>
                    </li>
                    <li sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/admin/rentals}" th:classappend="${#request.getRequestURI() == '/admin/rentals' ? 'active' : ''}">
                            Wypożyczenia
                        </a>
                    </li>
                    <li sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/admin/clients}" th:classappend="${#request.getRequestURI() == '/admin/clients' ? 'active' : ''}">
                            Użytkownicy
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/home}" th:classappend="${#request.getRequestURI() == '/home' ? 'active' : ''}">
                            Książki
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/recommendations}" th:classappend="${#request.getRequestURI() == '/recommendations' ? 'active' : ''}">
                            Rekomendacje
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>

        <!--<aside th:fragment="notAutheticatedAside" sec:authorize="isAnonymous()">-->
            <!--<a th:href="@{/home}" id="logo" class="logoA">-->
                <!--<img th:src="@{/img/logo.jpg}" alt="Logotyp">-->
                <!--<p class="logo-type">Net<span>Lib</span></p>-->
            <!--</a>-->
            <!--<nav>-->
                <!--<ul>-->
                    <!--<li>-->
                        <!--<a th:href="@{/home}" th:classappend="${#request.getRequestURI() == '/home' ? 'active' : ''}">-->
                            <!--Książki-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a th:href="@{/recommendations}" th:classappend="${#request.getRequestURI() == '/recommendations' ? 'active' : ''}">-->
                            <!--Rekomendacje-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</nav>-->
        <!--</aside>-->
    </body>
</html>