<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="basic-template :: head"></head>
    <body>
        <header th:replace="basic-template :: header"></header>
        <aside th:replace="basic-template :: aside"></aside>

    <main class="books">
        <form action="">
            <input th:type="text" th:id="search" th:name="search" placeholder="Wpisz tytuł szukanej książki...">
            <a href="" th:action="@{/user/login}">
                <i class="fa fa-search" aria-hidden="true"></i>
            </a>
        </form>
        <ul>
            <li th:each="book : ${books}" th:title="${book.title}" th:if="${book.totalSpecimen > 0}">
                <div sec:authorize="hasAuthority('ADMIN')" class="book-edit">
                    <a th:href="@{|/book/edit/${book.isbn}|}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </div>
                <a th:href="@{|/book/${book.isbn}|}">

                    <img th:src="@{${book.coverImage}}" />

                    <h2 th:text="${book.title}"></h2>

                    <div class="authors">
                        <p th:each="author : ${book.authors}" th:text="${author.name} + ' ' + ${author.surname}">
                        </p>
                    </div>

                    <p class="availability">Dostępnych: <span th:text="${book.availableSpecimen}"></span> / <span th:text="${book.totalSpecimen}"></span></p>
                    <p class="see-more">
                        Zobacz <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                    </p>
                </a>
            </li>
        </ul>
    </main>
    </body>
</html>