<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="basic-template :: head"></head>
    <body>
        <header th:replace="basic-template :: header"></header>
    <aside>
        <nav>
            <ul>
                <li>a</li>
                <li>b</li>
                <li>c</li>
                <li>d</li>
                <li>e</li>
            </ul>
        </nav>
    </aside>

    <main class="books">
        <form action="">
            <label th:for="search">Wyszukaj książkę:</label>
            <input th:type="text" th:id="search" th:name="search">
        </form>
        <ul>
            <li th:each="book : ${books}" th:title="${book.title}">
                <a th:href="@{|/book/${book.bookId}|}">

                    <img th:src="@{${book.imageUrl}}" />

                    <h2 th:text="${book.title}"></h2>

                    <div class="authors">
                        <p th:each="author : ${book.authors}" th:text="${author.name} + ' ' + ${author.surname}">
                        </p>
                    </div>

                    <p class="availability">Dostępnych</p>
                    <p class="see-more">
                        Zobacz <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                    </p>
                </a>
            </li>
        </ul>
    </main>
    </body>
</html>