<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="basic-template :: head"></head>
    <body class="login-bg">
        <form action="" method="POST" class="user-form">
            <h1>Logowanie</h1>

            <i th:if="${message != null}" th:text="${message}" class="success-message"></i>

            <fieldset>
                <label for="email" >Email</label>
                <input type="email" name="email" id="email" autofocus>
            </fieldset>

            <fieldset>
                <label for="password">Hasło</label>
                <input type="password" name="password" id="password">
            </fieldset>

            <p th:if="${param.error}" class="error-message">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                Podany e-mail lub hasło są nieprawidłowe.
            </p>

            <p th:if="${param.logout}" class="success-message">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                Zostałeś pomyślnie wylogowany.
            </p>

            <fieldset id="submit-form">
                <a th:href="@{/user/reset-password}">Przypomnij hasło</a>
                <button th:type="submit" th:formaction="@{/user/login }" th:method="POST">Zaloguj</button>
            </fieldset>

            <div>Nie masz jeszcze konta? <a th:href="@{/user/register}">Zarejestruj się</a></div>
        </form>
    </body>
</html>