<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="basic-template :: head"></head>
    <body class="login-bg">
        <form action="" method="POST" class="user-form">
            <h1>Resetowanie hasła</h1>

            <p>Na podany adres email wyślemy wiadomość z dalszymi instrukcjami.</p>
            <fieldset>
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </fieldset>
            <p th:if="${param.error}" class="error-message">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                Podany e-mail nie został znaleziony. Spróbuj ponownie.
            </p>
            <p th:if="${param.reset}" class="success-message">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
                Wiadomość email został wysłana na podany adres.
            </p>
            <fieldset id="submit-form">
                <a th:href="@{/login}">Powrót do logowania</a>
                <button th:type="submit" th:formaction="@{/user/reset}">Resetuj hasło</button>
            </fieldset>

            <div>Nie masz jeszcze konta? <a th:href="@{/user/register}">Zarejestruj się</a></div>
        </form>
    </body>
</html>